# Global
RAPPEL_CONSO_API_URL=https://data.economie.gouv.fr/api/explore/v2.0/catalog/datasets/rappelconso-v2-gtin-espaces

# Upstash Redis
UPSTASH_REDIS_REST_URL=http://localhost:8079
UPSTASH_REDIS_REST_TOKEN=local_token

# Analytics
NEXT_PUBLIC_SIMPLE_ANALYTICS_BASE_URL=<your-script-url>
NEXT_PUBLIC_SIMPLE_ANALYTICS_SCRIPT_URL=${NEXT_PUBLIC_SIMPLE_ANALYTICS_BASE_URL}/latest.dev.js
NEXT_PUBLIC_SIMPLE_ANALYTICS_HOSTNAME=<your-simple-analytics-dev-domain>