# Global
RAPPEL_CONSO_API_URL=https://data.economie.gouv.fr/api/explore/v2.0/catalog/datasets/rappelconso0

# Redis
KV_URL=redis://localhost:6379
KV_REST_API_URL=http://localhost:8079
KV_REST_API_TOKEN=example_token
KV_REST_API_READ_ONLY_TOKEN=example_token_read_only

# Analytics
NEXT_PUBLIC_SIMPLE_ANALYTICS_BASE_URL=<your-script-url>
NEXT_PUBLIC_SIMPLE_ANALYTICS_SCRIPT_URL=${NEXT_PUBLIC_SIMPLE_ANALYTICS_BASE_URL}/latest.dev.js
NEXT_PUBLIC_SIMPLE_ANALYTICS_HOSTNAME=<your-simple-analytics-dev-domain>